$unit-base: 4px;
$unit-gutter: $unit-base * 6;

$size-leftpane: 640px;

$color--borders: #cccccc;
$color--hover: #f4f4f4;
$color--active: #a3daff;
$color--focus: #51afee;

$animation-slide: 0.5s ease;

body {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}

.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
