.listing-card {
  margin-bottom: 20px;
  padding: 16px;
  border: 1px solid $color--borders;
  border-radius: 4px;
  transition: background-color 0.2s;

  &:last-child {
    margin-bottom: 0;
  }

  &.active {
    background-color: $color--hover;
  }

  &:hover {
    cursor: pointer;
    background-color: $color--hover;
  }
}
