$wrapper--gutter: 18px;
$wrapper--outer: 6px;
$wrapper--padding: 24px;

.shortlist-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: $size-leftpane;
  padding: $wrapper--padding $wrapper--outer;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.shortlist-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  padding: 0 $wrapper--gutter;
}

.shortlist-addnew-button {
  position: relative;
  width: 32px;
  height: 32px;
  border: 1px solid $color--interaction;
  border-radius: 50%;
  outline: none;
  background: white;
  transition: background-color $animation--time-short,
    border $animation--time-long ease-in-out;

  &:before {
    content: "";
    position: absolute;
    background: $color--interaction;
    top: 6px;
    right: 14px;
    bottom: 6px;
    width: 2px;
    transition: transform $animation--time-long ease-in,
      background $animation--time-long ease-in-out;
  }

  &:after {
    content: "";
    position: absolute;
    background: $color--interaction;
    top: 14px;
    right: 6px;
    left: 6px;
    height: 2px;
    transition: transform $animation--time-long ease-out,
      background $animation--time-long ease-in-out;
  }

  &.active {
    border: 1px solid $color--attention;

    &:before {
      background: $color--attention;
      transform: rotateZ(225deg);
    }

    &:after {
      background: $color--attention;
      transform: rotateZ(-315deg);
    }
  }

  &:hover {
    background-color: $color--hover;
  }
}

.shortlist-subcontainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.shortlist-addnew-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: calc(100% + 24px * 2); // 24px = $wrapper--padding
  transition: left $animation--slide;
  padding: 0 $wrapper--gutter;
  overflow-y: scroll;

  &.active {
    left: 0;
  }
}

.shortlist-listing-wrapper {
  position: absolute;
  width: 100%;
  right: calc(100% + 24px * 2); // 24px = $wrapper--padding
  padding: 0 $wrapper--gutter;
  transition: right $animation--slide;

  &.active {
    right: 0;
  }
}

// SECTION: Add new form styles

.addnew {
  &-form {
    display: flex;
    flex-wrap: wrap;
  }
}

// !SECTION
