.shortlist-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 600px;
  height: 100vh;
  padding: 24px;
}

.shortlist-title {
  margin-bottom: 36px;
}

.add-new-listing {
  margin-bottom: 20px;
  padding: 16px;
  border: 1px solid $color--borders;
  border-radius: 4px;
  background: white;
  color: #4f4f4f;
  outline: none;
  transition: background-color 0.2s;

  &:hover {
    background-color: $color--hover;
  }
}
